body {
    margin: 5%;
    background-color: #F2F2F2;
    color: #262222;
    font-family: 'Noto Sans HK', sans-serif;
}

img.sally-photo {
    width: 200px;
    border: 1px solid #262222;
}

header>h1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #262222;
}

header>h2 {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

section {
    padding: 25px;
    margin-top: 20px;
    background-color: #FFF;
    border: 1px solid #262222;
    border-radius: 5px;
}


@media screen and (max-width:700px) {
    section {
        text-align: center;
    }

    section ul li {
        text-align: left;
        list-style-type: none;
        line-height: 1.6;
        padding: 0;
        margin: 0;
    }
}